openapi: "3.0.0"
info:
  version: 1.0.0
  title: Swagger joemonster.org
servers:
  - url: https://joemonster.org/api_v1
paths:
  /users/{username}:
    get:
      summary: Pełne dane użytkownika ktory jest publiczny, oraz jego komentarze (jesli są)
      operationId: showUserByIdUsername
      tags:
        - pets
      parameters:
        - name: username
          in: path
          required: true
          description: login użytkownika
          schema:
            type: string
      responses:
        '200':
          description: Dane użytkownika
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        '400':
          description: Błąd daych wejściowych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '500':
          description: Błąd po stronie api 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    User:
      type: object
      required:
        - id
        - username
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        tag:
          type: string
    User_self_described:
      type: object
      properties:
        "O mnie":
          type: string
    Users:
      type: array
      maxItems: 100
      items:
        $ref: "#/components/schemas/User"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string